<div class="signupContainer">
    <div class="signupForm">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" class="form-control" formControlName="firstName">
          <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched" class="error">
            <small *ngIf="signupForm.get('firstName')?.errors?.['required']">first name is required.</small>
            <small *ngIf="signupForm.get('firstName')?.errors?.['minlength']">first name must be at least 3 characters long.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" class="form-control" formControlName="lastName">
          <div *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched" class="error">
            <small *ngIf="signupForm.get('lastName')?.errors?.['required']">Last name is required.</small>
            <small *ngIf="signupForm.get('lastName')?.errors?.['minlength']">Last name must be at least 3 characters long.</small>
          </div>
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email">
          <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="error">
            <small *ngIf="signupForm.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="signupForm.get('email')?.errors?.['email']">Enter a valid email.</small>
          </div>
        </div>
  
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName="password">
          <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="error">
            <small *ngIf="signupForm.get('password')?.errors?.['required']">Password is required.</small>
            <small *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
          </div>
        </div>
  
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
          <div *ngIf="signupForm.errors?.['mismatch'] && signupForm.get('confirmPassword')?.touched" class="error">
            <small>Passwords must match.</small>
          </div>
        </div>
  
        <button class="btn btn-primary" type="submit" [disabled]="signupForm.invalid">Sign Up</button>
      </form>

      <div class="signIn">
        <p>Already have an account? <a  routerLink="/login">Login Here</a></p>
      </div>
    </div>
  </div>
  